<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form action="#" th:action="@{/enployeeform}" th:object="${employee}" method="post">
    Name: input type="text" th:field="*{first name}" /><br />
    Artist: input type="text" th:field="*{last name}" /><br />
    Album input type="text" th:field="*{SSN}" /><br />
    Rating input type="number" th:field="*{DOB}" /><br />
    input type="submit" value="Submit" />
</form></body>
</html>